<h2>Create User</h2>

<%= form_for :user, url: :admin_create do |f| %>

  <div class="form-box">
    <%= f.label :first_name, "First Name" %><br>
    <%= f.text_field :first_name, autofocus: true %><br>
  
    <%= f.label :last_name, "Last Name" %><br>
    <%= f.text_field :last_name, autofocus: true %><br>
    
    <%= f.label :email %><br>
    <%= f.email_field :email, autofocus: true %><br>

    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %><br>

    <%= f.label :password_confirmation %><br>
    <%= f.password_field :password_confirmation, autocomplete: "off" %><br>
    <div class="actions">
      <%= f.submit "Create User" %>
    </div>
    <p><%= link_to "Back", admin_dashboard_path %></p>
  </div>
<% end %>


