<header>
	<div class="container">
		<div id="logo">
			<img <%= image_tag 'logo' %>
		</div>
		<% if current_user %>
			<nav>
				<ul>
					<li><%= link_to "Home", root_path %></li>
					<li><%= link_to "Instructions", instructions_path %></li>
					<li><%= link_to "Admin", admin_dashboard_path%></li>
					<li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
				</ul>
			</nav>
		<% end %>
	</div>
</header>