<h2>Simple Search</h2>
<div class="box">
  <div class="search-form">
    <%= form_tag(specimen_path, :method => 'get', class: "search_form") do %>
      <%= text_field_tag :search, params[:search], placeholder: "Test Report Number", class: "search-block" %>
      <%= submit_tag "Search", :name => nil %>
    <% end %>
  </div>
  <p>
    <%= link_to "Advanced Search", new_search_path %> |
      <%= link_to "Back", root_path %>
  </p>
</div>
