<% if @specimen.errors.any? %>
<h2> The following errors occured</h2>
<ul>
  <% @specimen.errors.full_messages.each do |msg| %>
  <li><%= msg %></li>
  <% end %>
</ul>
<% end %>

<%= form_for @specimen do |f| %>
  <h3>General Information</h3>
  <div class="form-box">
    <%= f.label :pass_or_fail, "Pass or Fail" %><br>
    <%= f.text_field :pass_or_fail %><br>
    
    <%= f.label :test_plan, "Test Plan" %><br>
    <%= f.text_field :test_plan %><br>
    
    <%= f.label :cushion %><br>
    <%= f.text_field :cushion %><br>
    
    <%= f.label :test_plan_id, "Test Plan ID" %><br>
    <%= f.text_field :test_plan_id %><br>
    
    <%= f.label :seat_model, "Seat Model" %><br>
    <%= f.text_field :seat_model %><br>
    
    <%= f.label :test_date, "Test Date" %><br>
    <%= f.date_select :test_date %><br>
  </div>
  
	<h3>Test Specifications</h3>
  <div class="form-box">
    <%= f.label :vert_burn_length_front, "Vertical Burn Legnth (Front)" %><br>
    <%= f.text_field :vert_burn_length_front %><br>
    
    <%= f.label :vert_burn_length_back, "Vertical Burn Legnth (Back)" %><br>
    <%= f.text_field :vert_burn_length_back %><br>
    
    <%= f.label :horiz_burn_length_top, "Horizontal Burn Legnth (Top)"%><br>
    <%= f.text_field :horiz_burn_length_top %><br>
    
    <%= f.label :horiz_burn_length_bottom, "Horizontal Burn Legnth (Bottom)" %><br>
    <%= f.text_field :horiz_burn_length_bottom %><br>
    
    <%= f.label :weight_loss_lbs, "Weight Loss (Lbs)" %><br>
    <%= f.text_field :weight_loss_lbs %><br>
    
    <%= f.label :weight_loss_percent, "Weight Loss (Percent)" %><br>
    <%= f.text_field :weight_loss_percent %><br>
  </div>
  
  <h3>Foam Information</h3>
  <div class="form-box">
    <%= f.label :foam_a_material, "Foam A Material" %><br>
    <%= f.text_field :foam_a_material, placeholder: "Material" %>
    <%= f.number_field :foam_a_percent, placeholder: "Percent" %><br>
    
    <%= f.label :foam_b_material, "Foam A Material" %><br>
    <%= f.text_field :foam_b_material, placeholder: "Material" %>
    <%= f.number_field :foam_b_percent, placeholder: "Percent" %><br>
    
    <%= f.label :foam_c_material, "Foam A Material" %><br>
    <%= f.text_field :foam_c_material, placeholder: "Material" %>
    <%= f.number_field :foam_c_percent, placeholder: "Percent" %><br>
    
    <%= f.label :foam_d_material, "Foam A Material" %><br>
    <%= f.text_field :foam_d_material, placeholder: "Material" %>
    <%= f.number_field :foam_d_percent, placeholder: "Percent" %><br>
  </div>
  
  <h3>Other</h3>
  <div class="form-box">
    <%= f.label :decorative_insulation_part_number, "Decorative Insulation Part Number" %><br>
    <%= f.text_field :decorative_insulation_part_number %><br>
    
    <%= f.label :backing, "Backing" %><br>
    <%= f.text_field :backing %><br>
    
    <%= f.label :adhesive_one, "Adhesive One" %><br>
    <%= f.text_field :adhesive_one %><br>
    
    <%= f.label :adhesive_one, "Adhesive One" %><br>
    <%= f.text_field :adhesive_one %><br>
    
    <%= f.label :adhesive_two, "Adhesive Two" %><br>
    <%= f.text_field :adhesive_two %><br>
    
    <%= f.label :fireblock_type, "Fireblock Type" %><br>
    <%= f.text_field :fireblock_type %><br>
    
    <%= f.label :fireblock_part_number, "Fireblock Number" %><br>
    <%= f.text_field :fireblock_part_number %><br>
    
    <%= f.label :fireblock_color, "Fireblock Color" %><br>
    <%= f.text_field :fireblock_color %><br>
    
    <%= f.label :fireblock_mfr, "Fireblock Manufacturer" %><br>
    <%= f.text_field :fireblock_mfr %><br>
    
    <%= f.label :flame_treatment, "Flame Treatmeant" %><br>
    <%= f.text_field :flame_treatment %><br>
    
    <%= f.label :fireblock_percent, "Fireblock Percent" %><br />
    <%= f.text_field :fireblock_percent %><br>
    
    <%= f.label :thermoplastic_part_number, "Thermoplastic Part Number" %><br>
    <%= f.text_field :thermoplastic_part_number %><br>
    
    <%= f.label :thermoplastic_mfr, "Thermoplastic Manufacturer" %><br>
    <%= f.text_field :thermoplastic_mfr %><br>
    
    <%= f.label :cover_config, "Cover Configuration" %><br>
    <%= f.text_field :cover_config %><br>
    <%= f.submit "Submit" %>
  </div>
<% end %>