<%= form_for @specimen do |f| %>
<h4>General Information</h4>

  <div class="field">
    <%= f.label :pass_or_fail %><br />
    <%= f.text_field :pass_or_fail %>
  </div>
  
  <div class="field">
    <%= f.label :test_plan, "Test Plan" %><br />
    <%= f.text_field :test_plan %>
  </div>
  
  <div class="field">
    <%= f.label :cushion %><br />
    <%= f.text_field :cushion %>
  </div>
  
  <div class="field">
    <%= f.label :test_plan_id %><br />
    <%= f.text_field :test_plan_id %>
  </div>
  
  <div class="field">
    <%= f.label :seat_model %><br />
    <%= f.text_field :seat_model %>
  </div>
  
  <div class="field">
    <%= f.label :test_date %><br />
    <%= f.date_select :test_date %>
  </div> <br / >
  
<h4>Fireblock Specifications</h4> 
  
  <div class="field">
    <%= f.label :vert_burn_length_front %><br />
    <%= f.text_field :vert_burn_length_front %>
  </div>
  
  <div class="field">
    <%= f.label :vert_burn_length_back %><br />
    <%= f.text_field :vert_burn_length_back %>
  </div>
  
  <div class="field">
    <%= f.label :horiz_burn_length_top %><br />
    <%= f.text_field :horiz_burn_length_top %>
  </div>
  
  <div class="field">
    <%= f.label :horiz_burn_length_bottom %><br />
    <%= f.text_field :horiz_burn_length_bottom %>
  </div>
  
  <div class="field">
    <%= f.label :weight_loss_lbs %><br />
    <%= f.text_field :weight_loss_lbs %>
  </div>
  
  <div class="field">
    <%= f.label :weight_loss_percent %><br />
    <%= f.text_field :weight_loss_percent %>
  </div>
  
<h4>Fireblock Specifications</h4> 
  <div class="field">
    <%= f.label :foam_a_material %><br />
    <%= f.text_field :foam_a_material %><br />
    <%= f.number_field :foam_a_percent %>
  </div>
  
  <div class="field">
    <%= f.label :foam_b_material %><br />
    <%= f.text_field :foam_b_material %><br />
    <%= f.number_field :foam_b_percent %>
  </div>
  
  <div class="field">
    <%= f.label :foam_b_material %><br />
    <%= f.text_field :foam_b_material %><br />
    <%= f.number_field :foam_b_percent %>
  </div>
  
  <div class="field">
    <%= f.label :foam_c_material %><br />
    <%= f.text_field :foam_c_material %><br />
    <%= f.number_field :foam_c_percent %>
  </div>
  
  <div class="field">
    <%= f.label :decorative_insulation_part_number %><br />
    <%= f.text_field :decorative_insulation_part_number %>
  </div>
  
  <div <div class="field">
    <%= f.label :backing %><br />
    <%= f.text_field :backing %>
  </div>
  
  <div class="field">
    <%= f.label :adhesive_one %><br />
    <%= f.text_field :adhesive_one %>
  </div>
  
  <div <div class="field">
    <%= f.label :adhesive_two %><br />
    <%= f.text_field :adhesive_two %>
  </div>
  
  <div <div class="field">
    <%= f.label :fireblock_type %><br />
    <%= f.text_field :fireblock_type %>
  </div>
  
  <div <div class="field">
    <%= f.label :fireblock_part_number %><br />
    <%= f.text_field :fireblock_part_number %>
  </div>
  
  <div <div class="field">
    <%= f.label :fireblock_color %><br />
    <%= f.text_field :fireblock_color %>
  </div>
  
  <div <div class="field">
    <%= f.label :fireblock_mfr %><br />
    <%= f.text_field :fireblock_mfr %>
  </div>
  
  <div <div class="field">
    <%= f.label :flame_treatment %><br />
    <%= f.text_field :flame_treatment %>
  </div>
  
  <div <div class="field">
    <%= f.label :fireblock_percent %><br />
    <%= f.text_field :fireblock_percent %>
  </div>
  
  <div <div class="field">
    <%= f.label :thermoplastic_part_number %><br />
    <%= f.text_field :thermoplastic_part_number %>
  </div>
  
  <div <div class="field">
    <%= f.label :thermoplastic_mfr %><br />
    <%= f.text_field :thermoplastic_mfr %>
  </div>
  
  <div <div class="field">
    <%= f.label :cover_config %><br />
    <%= f.text_field :cover_config %>
  </div>
  
  <%= f.submit "Submit" %>
<% end %>