<tr>
	<td><%= speciman.id %></td>
	<td><%= link_to speciman.test_plan, speciman_path(speciman) %></td>
	<td><%= speciman.cushion %></td>
	<td><%= speciman.seat_model %></td>
	<td><%= speciman.foam_a_material %></td>
	<td><%= speciman.foam_b_material %></td>
	<td><%= speciman.fireblock_type %></td>
</tr>