<tr>
	<td>1</td>
	<td><%= speciman.test_plan %></td>
	<td><%= speciman.cushion %></td>
	<td><%= speciman.seat_model %></td>
	<td><%= speciman.foam_a_material %></td>
	<td><%= speciman.foam_b_material %></td>
	<td><%= speciman.fireblock_type %></td>
</tr>